

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
    width: 30%;
    height: 4px;
    top: 20px;
    left: auto;
    right: 0;
   
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: white;
}
.swiper-button-next, .swiper-button-prev{
    color: white;
   
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 40px;
}

@media screen and (max-width: 500px) {
    .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
        top: 80px;
        left: auto;
        right: 0;
       
    }
    .swiper-button-prev{
        color: white;
        top: 130px;
        left: auto;
        right: 80px;
    }
    .swiper-button-next{
        color: white;
        top: 130px;
        right: 0;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 25px;
    }
}