

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
    width: 30%;
    height: 4px;
    top: 20px;
    left: auto;
    right: 0;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: white;
}